<!DOCTYPE html>
<html lang="en">
<head>
	<title>API Network Test</title>
	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-sanitize.js"></script>
	<script src="./SpaceTimeClient.js"></script>
</head>
<body ng-app="Space_Time" ng-controller="main" class="ng-scope">
<div class="container">
	<button ng-click="PutTopic('Defualt Topic')">New Topic</button>
	<div ng-repeat="topic in Topics | orderBy:'-Updated'">
		<p>Topic:</p>
		<button ng-click="PutComment(topic.GUID,'Default Comment')">Click For Default Comment!</button>
		<pre>{{string(topic)}}</pre>
	</div>
</div>
</body>
</html>
